@{
  Layout = null;
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Stats</title>
</head>
<body>
    <div class="topnavleft">
        <img class="logo-image" src="/img/logo.png" alt="Logo" style="width:10%;height:10%">
        <img class="title" src="/img/title.png" alt="Title" style="width:20%;height:50%">
        <a href=@Url.Action("About", "Home" )>About Us</a>
        <a href=@Url.Action("Stats", "Home" )>Stats</a>
        <a href=@Url.Action("Search", "Home" )>Search</a>
        <a href=@Url.Action("main", "Home" )>Home</a>
    </div>
    <br>
    <p>
        <br> Here are some visualizations displaying the stats about different food and nutritions. Also, there are some more visualizations coming. So Stay Tuned!!</br>
        <br> The below three Visualizations depicts Foundation food contribution, Percentage of carbohydrates, fats and protien in food and the Food attributes contribution.
        This visualizations helps to analyze in depth data about the nutrition value of different foundation food items.</br>
    </p>
    <h2 style="text-align:center">Visualizations</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="/img/Vis1.png" alt="Vis1" style="width:100%;height:35%">
                <div class="container">
                    <h4>Visualization 1</h4>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/img/Vis3.png" alt="Vis3" style="width:100%;height:35%">
                <div class="container">
                    <h4>Visualization 2</h4>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="/img/Vis4.png" alt="Vis4" style="width:100%;height:35%">
                <div class="container">
                    <h4>Visualization 3</h4>
                </div>
            </div>
        </div>
    </div>
    <!--Footer-->
    <style>
        footer {
            position: fixed;
            width: 100%;
            height: 14%;
            left: 0;
            bottom: 0;
            background-color: black;
            color: white;
            text-align: center;
        }
    </style>
    <footer>
        <div class="center">
            <div class="center">
                <h4 class="white-text"><b><br>Use of this Website</b></h4>
                <h5 class="grey-text text-lighten-10s"></h5>
                <p>
                    <b> Nutrition Data Central helps to analyze, compile, and presents all the food nutrients and components to a new level.</b>
                    <b> This website provides the food attributes, nutrients of each food, calories of each food item. Click on the link for more details. Thank You!</b>
                </p>
            </div>
        </div>
    </footer>
</body>
